/* Website */

.main {
    max-width: 1000px;
    margin: 0;
}


body {
    background-color: #a1c8ca;
    color: black;
    position: relative;
    margin: 0;
    min-height: 100%;

}

.main-container {

    padding: 20px;
}

h1 {
    font-family: monospace;
    font-size: 58px;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    display: block;
    color: orange;
    font-family: 'Noto Serif JP', sans-serif;

}

h2 {
    text-transform: capitalize;
    color: white;
    font-family: 'Noto Serif JP', sans-serif;
}

h3 {
    justify-content: center;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    display: block;
    color: white;
    font-family: 'Noto Serif JP', sans-serif;

}

nav {
    display: flex;
    background-color: #cbffcc;
    padding: 2px;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: capitalize;
    overflow: hidden;
    font-family: 'Noto Serif JP', sans-serif;


}

nav img {
    max-height: 80px;
    flex-wrap: wrap;
    justify-content: center;


}

header {
    background-color: #cbffcc;

}


.menu-item {
    background-color: #cbffcc;
    /* Green */
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Serif JP', sans-serif;
    text-transform: uppercase;
    z-index: 2000;
    position: relative;
}


.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1229px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 780px) {
    .ret img {
        width: 100%
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 480px) {
    .ret img {
        width: 100%
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}


button {

    background-color: #cbffcc;
    text-align: center;
    font-size: 18px;
    padding: 10px 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    justify-content: flex-end;
    font-family: 'Noto Serif JP', sans-serif;
    border: solid white;
    color: white;



}

button:hover {

    color: lightgray;




}



img:hover {
    filter: brightness(70%);
    z-index: -200;

}

.responsive {
    width: 100%;
    height: auto;
    align-content: center;
}

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    justify-content: space-between;
}


/* NAv bar sticky */

#navbar {
    overflow: hidden;
    z-index: 6000;
}

.content {
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.sticky + .content {
    padding-top: 60px;
}
