/* Website */

.main {
    max-width: 1000px;
    margin: 0;
}


body {
    background-color: #a1c8ca;
    color: black;
    position: relative;
    margin: 0;
    min-height: 100%;

}

.main-container {

    padding: 20px;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h1 {
    font-family: monospace;
    font-size: 58px;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    display: block;
    color: orange;
    font-family: 'Noto Serif JP', sans-serif;

}

h2 {
    text-transform: capitalize;
    color: white;
    font-family: 'Noto Serif JP', sans-serif;
}

h3 {
    justify-content: center;
    text-transform: capitalize;
    justify-content: center;
    text-align: center;
    margin: 0px auto;
    display: block;
    color: black;
    font-family: 'Noto Serif JP', sans-serif;


}

/*Menu bar */

nav {
    display: flex;
    background-color: #cbffcc;
    padding: 2px;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: capitalize;
    overflow: hidden;
    font-family: 'Noto Serif JP', sans-serif;

}

nav img {
    max-height: 80px;
    flex-wrap: wrap;
    justify-content: center;


}

header {
    background-color: #cbffcc;

}


.menu-item {
    background-color: #cbffcc;
    /* Green */
    border: none;
    color: black;
    padding: 15px 30px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    font-family: 'Noto Serif JP', sans-serif;
    text-transform: uppercase;
    position: relative;
    z-index: 9000;
}

/*

Mediaquerys og Grid
*/

@media only screen and (max-width: 1229px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 780px) {
    .ret img {
        width: 100%
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 480px) {
    .ret img {
        width: 100%
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}

/*Knapper (tilbage)*/

button {

    background-color: #a1c8ca;
    text-align: center;
    font-size: 18px;
    padding: 10px 30px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px;
    justify-content: flex-end;
    font-family: 'Noto Serif JP', sans-serif;
    border: solid white;
    color: white;



}

button:hover {

    color: lightgray;




}

.menu-button {
    z-index: 10000;

}

/*Billeder - overlay og resoinsive*/

.main-container img:hover {
    filter: brightness(70%);
    z-index: -200;

}

.responsive {
    width: 100%;
    height: auto;
    align-content: center;
}

/*Footer */

footer {
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    background-color: #cbffcc;

}

.row {
    display: flex;
    flex-wrap: wrap;
}

.column {
    flex-basis: 300px;
    flex-grow: 1;
    flex-direction: column;

}


/* NAv bar sticky */

#navbar {
    overflow: hidden;
    z-index: 6000;
}

.content {
    padding: 20px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}


.sticky + .content {
    padding-top: 60px;
}


/*Burger menu ved mobile*/

.burger {
    /*         display: inline-block;*/
    cursor: pointer;
    background: #cbffcc;
    border: none;
    justify-self: end;

}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 5px;
    cursor: pointer;

}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

nav {
    max-height: 0px;
    overflow: hidden;
    transition: 0.6s;
    background: #cbffcc;
    color: aqua;
}

nav.show {
    max-height: 500px;
}

/* Rotate first bar */

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */

.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}

@media screen and (min-width:768px) {
    .burger {
        display: none;
    }
    nav {
        max-height: 200px;
    }
    li {
        display: inline-block;
    }
}
